*{
    margin: 0%;
    padding: 0;
}
body{
    background-color: #fff6ea;
}
header{
    background-color: #9863e9;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.logo{
    margin-left: 0%;
    margin-top: 0%;
    background-color: #562885;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLogo{
    height: 400px;
    width: 400px;
    position: absolute;
    left: -86px;
    top: -92px;

}


button.botao-perfil {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
}
.perfilImg {
    width: 70px;
    height: auto;
    margin-left: -400px;;
}
button.botao-sacola {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 100px;
}
.sacolaImg {
    width: 68px;
    height: auto;
    margin-left: -120px;;
}
button.botao-favorito {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 180px;
}
.favoritoImg {
    width: 70px;
    height: auto;
    margin-right: -158px;;
}

h1 {
    font-family: "Open Sans", sans-serif;
    color: #562885;
    margin-left: 13%;
    margin-top: 1%
}

h2 {
    font-family: "Open Sans", sans-serif;
    color: #AC7ADF;
    font-weight: 700 ;
    margin-left: 13%;
    margin-top: -25px;
    margin-bottom: 20px;
}

.Carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
}
.imgCarrinho {
    width: 10%;
    height: auto;
    display: block;
}

h3 {
    font-family: "Open Sans", sans-serif;
    color: #562885;
    text-align: center;
    margin-top: 1%;
}

.boxFrete {
    padding: 1%;
    background-color: #AC7ADF;
    border-radius: 9px;
    width: 20%;
    height: 190px;
    margin-left: 77.5%;

}

label {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #fff;
    margin-left: 2%;
    margin-top: 10%;
}

input{
    width: 60%;
    height: 30px;
    background-color: transparent;
    border: #fff 2px solid;
    border-radius: 6px;
    margin-left: 2%;
    margin-bottom: 1%;
    margin-top: 2%;
}

input::placeholder {
    color: #fff;
    padding-left: 5px;
}

.calculo{
    display: flex;
    gap: 1%;
}

button.calcular {
    background-color: transparent;
    border: none;
    width: 10%;
    margin-left: 10%;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    font-size: medium;
    color: #fff;
}

hr{
    border: 1px solid #fff;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
}

.total{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #fff;
    margin-left: 79.6%;
    margin-top: 2%;
    display: block;
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 5%;
    gap: 10px;
}

button.finalizar {
    width: 50%;
    background-color: #fff;
    color: #562585;
    font-size: 90%;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    text-align: center;
    cursor: pointer;
    margin: 0;
}

button.continuar {
    width: 50%;
    background-color: #fff;
    color: #562585;
    font-size: 90%;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    text-align: center;
    cursor: pointer;
    margin: 0;
}

.total {
    display:flex ;
    gap: 9%;
    justify-content:space-between;
    align-items: center;
    margin-left: 2%;
}