*{
    margin: 0%;
    padding: 0;
}
body{
    background-color: #fff6ea;
}
header{
    background-color: #ac7adf;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.logo{
    margin-left: 0%;
    margin-top: 0%;
    background-color: #562885;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aaaa{
    margin-left: 60px;
    color: #fff;
    text-decoration: none;
}
.aaaa:hover{
    text-decoration: underline;
    

}
.imgLogo{
    height: 400px;
    width: 400px;
    position: absolute;
    left: -86px;
    top: -92px;

}
button.botao-perfil {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
}
.perfilImg {
    width: 70px;
    height: auto;
    margin-right: 10%;
}
button.botao-sacola {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 100px;
}
.sacolaImg {
    width: 68px;
    height: auto;
    margin-left: 61%;
    margin-top: 2px;
}
button.botao-favorito {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 180px;
}
.favoritoImg {
    width: 70px;
    height: auto;
    margin-right: -158px;
    margin-left: 95%;
}
main {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    min-height: 60vh;
    background-color:#fff6ea;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto; 
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
    "wdth" 50;
}

input[type="text"],
input[type="password"],
button {
    width: 20%;
    padding: 1%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 13%;
}
button {
    background-color: #562885; /* cor de fundo do botão */
    color: #fff;               /* cor do texto do botão */
    border-radius: 10px;
    width: 22%;
    font-size: 25px;
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto; 
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.titulo-container {
  align-self: flex-start;   /* Alinha o bloco à esquerda do main */
  margin-left: 15%;         /* Ajuste conforme quiser o "recuo" */
  margin-bottom: 30px;
  max-width: 500px;
  display: inline-block;
  flex-direction: column;
}

.titulo {
    font-size: 40px;
    color: #562885;
    font-family: "merriweather", serif;
    font-weight: 600;
}
.linha-titulo {
  border: none;
  height: 4px;
  background-color: #b97ced; /* ou a cor roxa que está usando */
  width: 100%;               /* ajuste até bater com o tamanho do título */
  margin-top: 5px;
  margin-bottom: 30px;
}
.label-esquerda{
    margin-right: 2%;
}



