*{
    margin: 0%;
    padding: 0;
}
body{
    background-color: #fff6ea;
}
header{
    background-color: #9863e9;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.logo{
    margin-left: 0%;
    margin-top: 0%;
    background-color: #562885;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pesquisa{
    width: 30%;
    height: 30px;
    border-radius: 20px;
    background-color: transparent;
    border: #fff 2px solid;
}
.aaaa{
    margin-left: 60px;
    color: #fff;
    text-decoration: none;
}
.aaaa:hover{
    text-decoration: underline;
    

}
.imgLogo{
    height: 400px;
    width: 400px;
    position: absolute;
    left: -86px;
    top: -92px;

}

button.botao-pesquisa {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: auto;
}

.pesquisaImg {
    width: 100%;
    height: 40%;
    margin-left: -100px;
}

button.botao-perfil {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
}
.perfilImg {
    width: 70px;
    height: auto;
    margin-left: -400px;;
}
button.botao-sacola {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 100px;
}
.sacolaImg {
    width: 68px;
    height: auto;
    margin-left: -120px;;
}
button.botao-favorito {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 180px;
}
.favoritoImg {
    width: 70px;
    height: auto;
    margin-right: -158px;;
}

.livro{
    align-items: center;
    background-color: rgb(255, 255, 255);
    max-width: 600px;
    margin: 20px;
    padding: 20px ;
    border-radius: 20px;
    margin-left: 50px;
}

section{
    display: flex;
    margin-left: 2%;    
}

img {
    height: 200px;
    width:130px;
    margin-left: 20px;
    
}

.fileira1 {
    margin-top: 2%;   
}

.nomelivro{
    font-family: "merriweather", serif;
    font-size: 13px;
    font-weight: bold;
    color: #562885;
    margin-left: 20px;
    
}

.nomeautor{
    font-family: "archivo", sans-serif;
    font-size: 12px;
    color: #562885;
    margin-bottom: 10px;
    margin-left: 20px;
}

h1{
    font-family: "merriweather", serif;
    color: #562885;
    margin-top: 1%;
    margin-left: 15%;
    font-size: 35px;
    border-bottom: 3px solid #562885;
    display: block; 
    width: 20%;
    padding-bottom: 1px;

}

.livrofv{
    width: 50px;
    height: auto;
    margin-left: 65%;
    margin-top: -10%;
}

.valor{
    font-family: merriweather, serif;
    font-size: 20px;
    color: #562885;
    font-weight: bold;
    margin-left: 20px;
}

.botao-comprar {
    background-color: #ac7adf;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 8px 24px;
    font-size: 16px;
    font-family: "merriweather", serif;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
    margin-left: 25px;
}
.botao-comprar:hover {
    background-color: #ac7adf;
}


